.container {
    clear: both;
}

img {
    float: left;
    height: 200px;
    margin-right: 10px;
}

p {
    margin-left: 1rem;
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
}

/* button {
    color: white;
    background-color: blue;
}

button:hover {
    color: white;
    background-color: rgb(133, 133, 255);
} */